@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --light-black: #333;
  --primary-clr: #37f507;
  --secondy-clr: #f4f3ee;
  --tag-clr: #ff70a6;
}

/* basic style */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 80%;
  margin: auto;
}

.section{
  padding-top: 4rem;
}

/* navbar styling */
header {
  background: var(--white-clr);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0px 5px 14.25px 0.75px rgba(36, 11, 12, 0.05);
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--light-black);
}

.link {
  font-size: 0.95rem;
  color: var(--light-black);
  text-transform: uppercase;
  font-weight: 500;
}

.icon {
  font-size: 0.9rem;
  color: var(--light-black);
  background: var(--secondy-clr);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.navbar {
  height: 12vh;
  justify-content: space-between;
}
.navlist {
  gap: 2.5rem;
}

.nav-icons {
  gap: 0.8rem;
}

.hamburger {
  font-size: 1.7rem;
  color: var(--primary-clr);
  display: none;
}

.link-active,
span,
.link:hover,
.icon:hover {
  color: var(--primary-clr);
}

/* section style */
.hero {
  height: 135vh;
  background-image: url(image/photo-1647221598091-880219fa2c8f.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 2rem;
}

.hero-content {
  height: 100%;
  justify-content: center;
  align-items: end;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.7rem;
  color: #000;
  text-transform: uppercase;
 
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: #ff0363;
  
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

button {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.8rem 2.2rem;
  text-transform: uppercase;
  color: var(--white-clr);
  border: none;
  background-color: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: var(--light-black);
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heding3{
  text-shadow: 0 2px 5px rgba(255, 218, 10, 0.5);
}

